@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400&display=swap');
@import url('http://fonts.cdnfonts.com/css/digital-dream');


*{
    font-family: 'Poppins', sans-serif;
 
    font-size: 18px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(32,25,41);
background: linear-gradient(90deg, rgba(32,25,41,1) 0%, rgba(23,32,107,1) 30%);
font-weight: 500;

    
}
.container{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    width: 256px;
    height: 440px;

    text-align: center;
    border: 3px solid rgb(31, 31, 37);
    background-color: whitesmoke;
    border-radius: 10px;
    
}


.dial{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(60px,auto);
}
input[type="text"]{
    height: 75px;
    width: 249px;
    background-color: black;
    border: 0px;
    color: white;
    font-family: 'Digital dream', sans-serif;
                                                
    text-align: right;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 1px;
}
#reset{
    grid-column: 1/3;
    grid-row: 1;
    color: rgb(255, 255, 255);
}
#result{
    grid-column: 3/5;
    grid-row: 5;
    color: rgb(255, 255, 255);
}
#backspace{
    color: rgb(255, 255, 255);
}
button{
    margin: 2px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-image: linear-gradient(to right, #41295a 0%, #2F0743  51%, #41295a  100%);
    color: white;
    font-weight: 500;
    text-transform: uppercase;

}


input:focus,
input:active,
button:focus,
button:active {
outline: none;
}
.highlight{
    background: linear-gradient( #0575E6 0%, #021B79  51%, #0575E6  90%);
}

#exitwindow{
    align-items: center;
   grid-column: 1/4;
   background-image: linear-gradient(to right, #ff0084 0%, #33001b  51%, #ff0084  100%);
   border-radius: 4px;
   width: 252px;
   font-weight: bold;
}
#result {
    background-image: linear-gradient(to right, #41295a 0%, #2F0743  51%, #41295a  100%);
}